#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
export DH_VERBOSE = 1

# Explicitly disable LTO, which became default from Ubuntu 21.04 and onwards
export DEB_BUILD_MAINT_OPTIONS=optimize=-lto

# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export LOCAL_CONFIGURE_FLAGS = --prefix=/usr/share/varnish@VRNVARIANT@
LOCAL_CONFIGURE_FLAGS += --program-suffix=@VRNVARIANT@
LOCAL_CONFIGURE_FLAGS += --exec-prefix=/usr
LOCAL_CONFIGURE_FLAGS += --localstatedir=/usr/share/varnish@VRNVARIANT@/var

num=\#
VARNISHD_ABI = $(shell \
	printf '$(num)include "vcs_version.h"\nVCS_Version\n' | \
	cpp - -Iinclude | \
	tail -1 | \
	tr -d '"')

VARNISHD_VRT = $(shell \
	printf '$(num)include "vdef.h"\n$(num)include "vrt.h"\n%s.%s\n' \
		VRT_MAJOR_VERSION VRT_MINOR_VERSION | \
	cpp - -Iinclude | \
	tail -1 | \
	tr -c -d '[0-9.]')

# Main build rule, leave everything to debhelper
%:
	dh $@ --parallel

# Skip the tests for now, because one is failing and I'm not sure why... :(
override_dh_auto_test:

# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
override_dh_auto_configure:
	dh_auto_configure -- \
	$(LOCAL_CONFIGURE_FLAGS)
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_install:
	dh_auto_install -a
	install -d debian/varnish@VRNVARIANT@/etc/varnish@VRNVARIANT@
	install -T -m 0644 etc/example.vcl debian/varnish@VRNVARIANT@/etc/varnish@VRNVARIANT@/default.vcl
	@ # Remove .la files
	@ # (See http://wiki.debian.org/ReleaseGoals/LAFileRemoval)
	find $(CURDIR)/debian/ -name \*.la -delete
	@ # Nuke the static libs too
	find $(CURDIR)/debian -name \*.a -delete

override_dh_install-arch:
	dh_install -a
	dh_missing --fail-missing
	@ # Override to add the "varnishreload@VRNVARIANT@" script
	install -o root -g root -m 755 \
		$(CURDIR)/debian/varnishreload@VRNVARIANT@ \
		$(CURDIR)/debian/varnish@VRNVARIANT@/usr/sbin/varnishreload@VRNVARIANT@

override_dh_installdocs:
# In 4.0 the built docs need to be copied to the current/4.1 location.
#	test -d doc/html || cp -pr doc/sphinx/build/html doc/html
	dh_installdocs

override_dh_installsystemd:
	dh_installsystemd --name varnish@VRNVARIANT@ --no-enable --no-start
	dh_installsystemd --name varnishncsa@VRNVARIANT@ --no-enable --no-start

override_dh_strip:
	dh_strip --keep-debug -Xvarnish -Xlibvmod
